<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.folahan.unilorinapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/unilorin_logo_design"
        android:roundIcon="@drawable/unilorin_logo_design"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnilorinApp">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.IntoChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RecentChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Chm132Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Mth116Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Gns114Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Phy192Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Phy152Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Sta124Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Phy142Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Gns112Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Chm116Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Mth114Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Chm112Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.Mth112Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Plb101Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.SecondSemester100l.SecondSemesterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Phy191Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Sta124Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Phy125Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Phy115Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Gns111Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Mth113Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Mth111Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Chm115Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.Chm101Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.FirstSemester100l.FirstSemesterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.Questions.QuestionPage"
            android:exported="false" />
        <activity
            android:name=".Activity.Questions.PostQuestion"
            android:exported="false" />
        <activity
            android:name=".Activity.ReadingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuestionTab"
            android:exported="false" />
        <activity
            android:name=".Activity.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CheckLevelActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".Firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>